body {
  background-image: url('https://www.pexels.com/photo/brown-and-white-track-field-163444/');
}

.aboutUsContainer{
  display: inline-block;

}
.annaContainer, .calebContainer, .patrickContainer, .scottContainer{
  display: inline-block;
  width: 300px;
  height: 600px;
  border: 2px solid black;
}

.personPic img{
  width: 240px;
  height: 320px;
  border-radius: 50%;
}
