body {
  background-image: url('img/aboutBackground.jpeg');
  background-size: cover;
}

.aboutUsContainer{
  display: inline-block;

}
.annaContainer, .calebContainer, .patrickContainer, .scottContainer{
  display: inline-block;
  width: 300px;
  height: 600px;
  border: 2px solid black;
  font-size: 18px;
}

.personPic img{
  width: 240px;
  height: 320px;
  border-radius: 50%;
}

.personAbout {
  
}
